@CHARSET "UTF-8";

.echo_color {color: #ccc; background-color: #000000;}

.default_color {color: #bbbbbb; background-color: #000000; }

.ansi_color_black_black_bg { color: #000000; background-color: #000000; }
.ansi_color_black_red_bg { color: #000000; background-color: #bb0000; }
.ansi_color_black_green_bg { color: #000000; background-color: #00bb00; }
.ansi_color_black_yellow_bg { color: #000000; background-color: #bbbb00; }
.ansi_color_black_blue_bg { color: #000000; background-color: #0000bb; }
.ansi_color_black_magenta_bg { color: #000000; background-color: #bb00bb; }
.ansi_color_black_cyan_bg { color: #000000; background-color: #00bbbb; }
.ansi_color_black_white_bg { color: #000000; background-color: #bbbbbb; }
.ansi_color_red_black_bg { color: #bb0000; background-color: #000000; }
.ansi_color_red_red_bg { color: #bb0000; background-color: #bb0000; }
.ansi_color_red_green_bg { color: #bb0000; background-color: #00bb00; }
.ansi_color_red_yellow_bg { color: #bb0000; background-color: #bbbb00; }
.ansi_color_red_blue_bg { color: #bb0000; background-color: #0000bb; }
.ansi_color_red_magenta_bg { color: #bb0000; background-color: #bb00bb; }
.ansi_color_red_cyan_bg { color: #bb0000; background-color: #00bbbb; }
.ansi_color_red_white_bg { color: #bb0000; background-color: #bbbbbb; }
.ansi_color_green_black_bg { color: #00bb00; background-color: #000000; }
.ansi_color_green_red_bg { color: #00bb00; background-color: #bb0000; }
.ansi_color_green_green_bg { color: #00bb00; background-color: #00bb00; }
.ansi_color_green_yellow_bg { color: #00bb00; background-color: #bbbb00; }
.ansi_color_green_blue_bg { color: #00bb00; background-color: #0000bb; }
.ansi_color_green_magenta_bg { color: #00bb00; background-color: #bb00bb; }
.ansi_color_green_cyan_bg { color: #00bb00; background-color: #00bbbb; }
.ansi_color_green_white_bg { color: #00bb00; background-color: #bbbbbb; }
.ansi_color_yellow_black_bg { color: #bbbb00; background-color: #000000; }
.ansi_color_yellow_red_bg { color: #bbbb00; background-color: #bb0000; }
.ansi_color_yellow_green_bg { color: #bbbb00; background-color: #00bb00; }
.ansi_color_yellow_yellow_bg { color: #bbbb00; background-color: #bbbb00; }
.ansi_color_yellow_blue_bg { color: #bbbb00; background-color: #0000bb; }
.ansi_color_yellow_magenta_bg { color: #bbbb00; background-color: #bb00bb; }
.ansi_color_yellow_cyan_bg { color: #bbbb00; background-color: #00bbbb; }
.ansi_color_yellow_white_bg { color: #bbbb00; background-color: #bbbbbb; }
.ansi_color_blue_black_bg { color: #0000bb; background-color: #000000; }
.ansi_color_blue_red_bg { color: #0000bb; background-color: #bb0000; }
.ansi_color_blue_green_bg { color: #0000bb; background-color: #00bb00; }
.ansi_color_blue_yellow_bg { color: #0000bb; background-color: #bbbb00; }
.ansi_color_blue_blue_bg { color: #0000bb; background-color: #0000bb; }
.ansi_color_blue_magenta_bg { color: #0000bb; background-color: #bb00bb; }
.ansi_color_blue_cyan_bg { color: #0000bb; background-color: #00bbbb; }
.ansi_color_blue_white_bg { color: #0000bb; background-color: #bbbbbb; }
.ansi_color_magenta_black_bg { color: #bb00bb; background-color: #000000; }
.ansi_color_magenta_red_bg { color: #bb00bb; background-color: #bb0000; }
.ansi_color_magenta_green_bg { color: #bb00bb; background-color: #00bb00; }
.ansi_color_magenta_yellow_bg { color: #bb00bb; background-color: #bbbb00; }
.ansi_color_magenta_blue_bg { color: #bb00bb; background-color: #0000bb; }
.ansi_color_magenta_magenta_bg { color: #bb00bb; background-color: #bb00bb; }
.ansi_color_magenta_cyan_bg { color: #bb00bb; background-color: #00bbbb; }
.ansi_color_magenta_white_bg { color: #bb00bb; background-color: #bbbbbb; }
.ansi_color_cyan_black_bg { color: #00bbbb; background-color: #000000; }
.ansi_color_cyan_red_bg { color: #00bbbb; background-color: #bb0000; }
.ansi_color_cyan_green_bg { color: #00bbbb; background-color: #00bb00; }
.ansi_color_cyan_yellow_bg { color: #00bbbb; background-color: #bbbb00; }
.ansi_color_cyan_blue_bg { color: #00bbbb; background-color: #0000bb; }
.ansi_color_cyan_magenta_bg { color: #00bbbb; background-color: #bb00bb; }
.ansi_color_cyan_cyan_bg { color: #00bbbb; background-color: #00bbbb; }
.ansi_color_cyan_white_bg { color: #00bbbb; background-color: #bbbbbb; }
.ansi_color_white_black_bg { color: #bbbbbb; background-color: #000000; }
.ansi_color_white_red_bg { color: #bbbbbb; background-color: #bb0000; }
.ansi_color_white_green_bg { color: #bbbbbb; background-color: #00bb00; }
.ansi_color_white_yellow_bg { color: #bbbbbb; background-color: #bbbb00; }
.ansi_color_white_blue_bg { color: #bbbbbb; background-color: #0000bb; }
.ansi_color_white_magenta_bg { color: #bbbbbb; background-color: #bb00bb; }
.ansi_color_white_cyan_bg { color: #bbbbbb; background-color: #00bbbb; }
.ansi_color_white_white_bg { color: #bbbbbb; background-color: #bbbbbb; }
.ansi_color_black_black_bg_b { color: #555555; font-weight:bold;  background-color: #000000;  }
.ansi_color_black_red_bg_b { color: #555555; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_black_green_bg_b { color: #555555; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_black_yellow_bg_b { color: #555555; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_black_blue_bg_b { color: #555555; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_black_magenta_bg_b { color: #555555; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_black_cyan_bg_b { color: #555555; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_black_white_bg_b { color: #555555; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_red_black_bg_b { color: #ff5555; font-weight:bold;  background-color: #000000;  }
.ansi_color_red_red_bg_b { color: #ff5555; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_red_green_bg_b { color: #ff5555; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_red_yellow_bg_b { color: #ff5555; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_red_blue_bg_b { color: #ff5555; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_red_magenta_bg_b { color: #ff5555; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_red_cyan_bg_b { color: #ff5555; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_red_white_bg_b { color: #ff5555; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_green_black_bg_b { color: #55ff55; font-weight:bold;  background-color: #000000;  }
.ansi_color_green_red_bg_b { color: #55ff55; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_green_green_bg_b { color: #55ff55; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_green_yellow_bg_b { color: #55ff55; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_green_blue_bg_b { color: #55ff55; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_green_magenta_bg_b { color: #55ff55; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_green_cyan_bg_b { color: #55ff55; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_green_white_bg_b { color: #55ff55; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_yellow_black_bg_b { color: #ffff55; font-weight:bold;  background-color: #000000;  }
.ansi_color_yellow_red_bg_b { color: #ffff55; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_yellow_green_bg_b { color: #ffff55; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_yellow_yellow_bg_b { color: #ffff55; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_yellow_blue_bg_b { color: #ffff55; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_yellow_magenta_bg_b { color: #ffff55; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_yellow_cyan_bg_b { color: #ffff55; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_yellow_white_bg_b { color: #ffff55; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_blue_black_bg_b { color: #5555ff; font-weight:bold;  background-color: #000000;  }
.ansi_color_blue_red_bg_b { color: #5555ff; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_blue_green_bg_b { color: #5555ff; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_blue_yellow_bg_b { color: #5555ff; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_blue_blue_bg_b { color: #5555ff; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_blue_magenta_bg_b { color: #5555ff; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_blue_cyan_bg_b { color: #5555ff; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_blue_white_bg_b { color: #5555ff; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_magenta_black_bg_b { color: #ff55ff; font-weight:bold;  background-color: #000000;  }
.ansi_color_magenta_red_bg_b { color: #ff55ff; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_magenta_green_bg_b { color: #ff55ff; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_magenta_yellow_bg_b { color: #ff55ff; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_magenta_blue_bg_b { color: #ff55ff; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_magenta_magenta_bg_b { color: #ff55ff; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_magenta_cyan_bg_b { color: #ff55ff; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_magenta_white_bg_b { color: #ff55ff; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_cyan_black_bg_b { color: #55ffff; font-weight:bold;  background-color: #000000;  }
.ansi_color_cyan_red_bg_b { color: #55ffff; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_cyan_green_bg_b { color: #55ffff; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_cyan_yellow_bg_b { color: #55ffff; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_cyan_blue_bg_b { color: #55ffff; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_cyan_magenta_bg_b { color: #55ffff; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_cyan_cyan_bg_b { color: #55ffff; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_cyan_white_bg_b { color: #55ffff; font-weight:bold;  background-color: #ffffff;  }
.ansi_color_white_black_bg_b { color: #ffffff; font-weight:bold;  background-color: #000000;  }
.ansi_color_white_red_bg_b { color: #ffffff; font-weight:bold;  background-color: #ff5555;  }
.ansi_color_white_green_bg_b { color: #ffffff; font-weight:bold;  background-color: #55ff55;  }
.ansi_color_white_yellow_bg_b { color: #ffffff; font-weight:bold;  background-color: #ffff55;  }
.ansi_color_white_blue_bg_b { color: #ffffff; font-weight:bold;  background-color: #5555ff;  }
.ansi_color_white_magenta_bg_b { color: #ffffff; font-weight:bold;  background-color: #ff55ff;  }
.ansi_color_white_cyan_bg_b { color: #ffffff; font-weight:bold;  background-color: #55ffff;  }
.ansi_color_white_white_bg_b { color: #ffffff; font-weight:bold;  background-color: #ffffff;  }
