html, body {
    background: #000;
    color: #fff;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    font-family: Arial;
    font-size: 15px;
}

p, h2, pre {
    margin: 0px; 
    padding: 5px; 
}

A:link, A:visited, A:active {
    color: #327CE3;
    text-decoration: none;
}

A:hover {
    color: #fff; 
}

h1 {
    font-size: 30px;
    margin: 0;
    padding: 0; 
}

h2 {color: #327CE3;}

input {
    background: #242424;
    border: 1px solid #464646;
    color: #fff;
}

table {width: 100%;}

td {vertical-align: top;}

.clear {clear: both; height: 10px;}

#interface {
    position: relative;
    width: 98%;
    height: 100%;
    margin: 0px auto;                       
}

#c_header {         
    height: 0px;            
    padding-top: 3px;       
}
    
#c_wrap {position: relative;}
    
#c_output {         
    margin-right: auto;
    position: relative;
}

@font-face {
    font-family: medievia;
    src: url(../fonts/medievia.ttf) format("truetype");
    font-weight: 800;
}

div#output br {margin-top: 20px; margin-bottom: 20px; }

#output {
    border: 1px solid #464646;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px;
    font-family: medievia;
    font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#c_footer {
    margin-right: 222px; 
    height: 35px;
}

#user_input {
    border: 1px solid #464646;  
    width: 100%; 
    padding: 5px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
