@CHARSET "UTF-8";

.tnc_default {color: inherit;}
.tnc_bg_default {background: #transparent;}

.tnc_inverse {color: black; background: white;}

.tnc_black {color: #000000;}
.tnc_red {color: #cd0000;}
.tnc_green {color: #00cd00;}
.tnc_yellow {color: #cdcd00;}
.tnc_blue {color: #0000ee;}
.tnc_magenta {color: #cd00cd;}
.tnc_cyan {color: #00cdcd;}
.tnc_white {color: #e5e5e5;}

b {
    .tnc_black {color: #7f7f7f;}
    .tnc_red {color: #ff0000;}
    .tnc_green {color: #00ff00;}
    .tnc_yellow {color: #ffff00;}
    .tnc_blue {color: #5c5cff;}
    .tnc_magenta {color: #ff00ff;}
    .tnc_cyan {color: #00ffff;}
    .tnc_white {color: #ffffff;}
}

.tnc_bg_black {background-color: #000000;}
.tnc_bg_red {background-color: maroon;}
.tnc_bg_green {background-color: green;}
.tnc_bg_yellow {background-color: olive;}
.tnc_bg_blue {background-color: navy;}
.tnc_bg_magenta {background-color: purple;}
.tnc_bg_cyan {background-color: teal;}
.tnc_bg_white {background-background-color: silver;}

