@CHARSET "UTF-8";

.echo {color: #ccc; }

.tnc_default {color: #e5e5e5; background-color: #000000; }

.tnc_black {color: #000000;}
.tnc_red {color: #cd0000;}
.tnc_green {color: #00cd00;}
.tnc_yellow {color: #cdcd00;}
.tnc_blue {color: #0000ee;}
.tnc_magenta {color: #cd00cd;}
.tnc_cyan {color: #00cdcd;}
.tnc_white {color: #e5e5e5;}

.tnc_black_b {color: #7f7f7f; font-weight:bold; }
.tnc_red_b {color: #ff0000; font-weight:bold; }
.tnc_green_b {color: #00ff00; font-weight:bold; }
.tnc_yellow_b {color: #ffff00; font-weight:bold; }
.tnc_blue_b {color: #5c5cff; font-weight:bold; }
.tnc_magenta_b {color: #ff00ff; font-weight:bold; }
.tnc_cyan_b {color: #00ffff; font-weight:bold; }
.tnc_white_b {color: #ffffff; font-weight:bold; }

.tnc_black_bg {background-color: #000000;}
.tnc_red_bg {background-color: #cd0000;}
.tnc_green_bg {background-color: #00cd00;}
.tnc_yellow_bg {background-color: #cdcd00;}
.tnc_blue_bg {background-color: #0000ee;}
.tnc_magenta_bg {background-color: #cd00cd;}
.tnc_cyan_bg {background-color: #00cdcd;}
.tnc_white_bg {background-color: #e5e5e5;}

.tnc_black_bg_b {background-color: #7f7f7f; }
.tnc_red_bg_b {background-color: #ff0000; }
.tnc_green_bg_b {background-color: #00ff00; }
.tnc_yellow_bg_b {background-color: #ffff00; }
.tnc_blue_bg_b {background-color: #5c5cff; }
.tnc_magenta_bg_b {background-color: #ff00ff; }
.tnc_cyan_bg_b {background-color: #00ffff; }
.tnc_white_bg_b {background-color: #ffffff; }
